<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yize.resourcepack01">

    <application>
        <activity
            android:name=".basiccontrols.PopupWindowDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basiccontrols.ProgressDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basiccontrols.listdemoactivities.ExpandableListDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basiccontrols.listdemoactivities.SpinnerListDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basiccontrols.listdemoactivities.BasicGridListDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basiccontrols.listdemoactivities.basiclistdemos.UseCustomizeAdapterAdvancedListDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basiccontrols.listdemoactivities.basiclistdemos.UseCustomizeAdapterListDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basiccontrols.listdemoactivities.basiclistdemos.UseArrayAdapterListDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basiccontrols.listdemoactivities.basiclistdemos.BasicListDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basiccontrols.listdemoactivities.ListDemoHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pagerelated.WithReturnValueDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pagerelated.WithValueDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basiccontrols.ButtonControlsDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basiccontrols.TextControlsDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basiclayout.GridLayoutDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basiclayout.TableLayoutDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basiclayout.FrameLayoutDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basiclayout.RelativeLayoutDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basiclayout.LinearLayoutDemoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>